/*Bar section*/
.bar_section
{
    display: flex;
    align-items: center;
    width: 35%;
    background-color: #fdd7de80;
    color: #BD7C89;
    border-radius: 30px;
    padding-left: 2%;
    margin-left: 1%;
}

.bar_icon
{

}

.bar_section p
{

}

/*Basic information*/
.basic_information
{
    margin-top: 1%;
    display: flex;
    margin-left: 1%;
}

.picture_of_product
{}

.product_information
{
    text-align: left;
    margin-left: 5%;
}

.product_name
{
    font-size: 40px;
    font-weight: 400;
    margin-top: 0px;
}

.product_price
{
    font-size: 30px;
    color: #FF0000;
    margin-bottom: 20px;
}

.amount_product
{
    display: flex;
    align-items: center;
}

.amount_product p
{
    margin-right: 3%;
}

.wrapper
{
    display: flex;
    justify-content: space-between;
    border: 1px solid #9d9b9b;
    width: 10%;
    height: 45px;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
}

.minus
{
    font-weight: 700;
}

.quantity
{
    font-weight: 700;
}

.plus
{
    font-weight: 700;
}

/*Button cart*/
.button_cart
{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 35%;
    justify-content: space-between;
}

.buy_now
{
    display: flex;
    align-items: center;
    margin-right: 5%;
    width: 115%;
    background: #FDD7DE;
    border-radius: 20px;
    justify-content: center;
}

.cart_logo
{
    color: #BD7C89;
    margin-right: 5%;
    height: 30px;
}

.buy_now p
{
    color: #BD7C89;
    font-weight: 700;
    font-size: 20px;
}

.add_to_cart
{
    height: 66px;
    background-color: #FDD7DE;
    width: 112%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.add_to_cart p
{
    color: #BD7C89;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0%;
}

/*Detail information*/
.detail_information
{
    text-align: left;
    background: #ff98a942;
    margin-bottom: -10px;
    padding-bottom: 30px;
    padding-top: 1%;
}

.detail_information p
{
    margin-left: 1%;
    margin-right: 1%;
}



