.header-title
{
    color: #FBA1B3;
    border-bottom: 1px solid rgb(217, 217, 217);
    width: 475%;
    text-align: left;
}

.user-information
{

}

.user-name
{
    display: flex;
    align-items: center;
    width: 475%;
}

.user-name h3
{
    width: 30%;
    text-align: left;
    color: #BD7C89;
}

.user-name p
{
    width: 100%;
    color: #BD7C89;
    margin-bottom: 3%;
    font-size: 130%;
    text-align: left;
}

.user-name-icon
{
    color: #FBA1B3;
    margin-bottom: 3%;
    height: 25px;
    text-align: right;
}

.user-name-section
{
    display: flex;
    align-items: flex-end;
    width: 40%;
    border-bottom: 1px solid #FBA1B3;
}

.phone-number
{
    display: flex;
    color: #BD7C89;
    width: 475%;
}

.phone-number h3
{
    width: 30%;
    text-align: left;
}

.phone-number p
{
    font-size: 130%;
}

.date-of-birth
{
    display: flex;
    color: #BD7C89;
    width: 475%;
}

.date-of-birth h3
{
    width: 30%;
    text-align: left;
}

.date-of-birth p
{
    font-size: 130%;
}

.user-gender
{
    display: flex;
    align-items: center;
    width: 475%;
    color: #BD7C89;
}

.user-address
{
    display: inline-flex;
    text-align: left;
    flex-direction: column;
    width: 475%;
    margin-bottom: 3%;
}

.user-address h3
{
    color: #BD7C89;
}

.address-city, .address-ward, .address-district
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    color: #BD7C89;
    margin-left: 10%;
    margin-bottom: 1%;
}

.address-city-info, .address-district-info, .address-ward-info
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FBA1B3;
    width: 50%;
    color: #BD7C89;
}

.icon-section
{
    text-align: right;
    margin-bottom: -7%;
    color: #FBA1B3;
    cursor: pointer;
}

.address-city-info p
{
    width: 100%;
    margin-bottom: 1%;
}

.address-district-info p
{
    width: 100%;
    margin-bottom: 1%;
}

.address-ward-info p
{
    width: 100%;
    margin-bottom: 1%;
}

.btn-save
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 475%;
    margin-bottom: 7%;
    cursor: pointer;
}

.btn-save button
{
    all: unset;    
    background: linear-gradient(to right, #F97892, #FBAEBE);
    border-radius: 30px;
    width: 15%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}